@model IEnumerable<CardGame.Web.Models.Shop>


@{
    ViewBag.Title = "Index";
}

<h2>Shop</h2>
@{
    for (int i = 0; i < 6; i++)
    {
        using (Html.BeginForm())
        {
            <div class="col-md-4">
                @Model.ToList()[i].Packname <br />
                @Model.ToList()[i].Packprice<br />
                @Model.ToList()[i].Cardquantity<br />

                <input type="hidden" name="packId" value="@Model.ToList()[i].PackID" />
                <input type="hidden" name="Packprice" value="@Model.ToList()[i].Packprice" />
                <input type="submit" value="Buy" />

            </div>
        }


    }
}
